apiVersion: v1
kind: Service
metadata:
  name: {{ include "coins-for-change.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "coins-for-change.labels" . | nindent 4 }}
  {{- with .Values.service.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: {{ .Values.service.targetPort }}
      protocol: TCP
      name: http
    {{- if .Values.monitoring.metrics.enabled }}
    - port: {{ .Values.monitoring.metrics.port }}
      targetPort: {{ .Values.monitoring.metrics.port }}
      protocol: TCP
      name: metrics
    {{- end }}
  selector:
    {{- include "coins-for-change.selectorLabels" . | nindent 4 }}